@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Galada&family=Italianno&family=Lato&family=Montserrat&family=Poppins&family=Roboto:wght@400;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  position: relative;
}

body {
  max-width: 100%;
}

body:not(i) {
  font-family: "Roboto", sans-serif;
  color: #262626;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 639px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.0902348578rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 639px) {
  h2 {
    font-size: 1.5451174289rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  h2 {
    font-size: 2.1631644005rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  h2 {
    font-size: 2.1631644005rem;
  }
}

h3 {
  font-size: 1.9099102953rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 639px) {
  h3 {
    font-size: 0.9549551477rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  h3 {
    font-size: 1.3369372067rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  h3 {
    font-size: 1.3369372067rem;
  }
}

h4 {
  font-size: 1.180414274rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 639px) {
  h4 {
    font-size: 1.180414274rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  h4 {
    font-size: 1.180414274rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  h4 {
    font-size: 1.180414274rem;
  }
}

p {
  font-size: 1.25rem;
}
@media (max-width: 639px) {
  p {
    font-size: 1rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  p {
    font-size: 1.1rem;
  }
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

button {
  outline: none;
}

nav {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f7f3f3 50%, transparent 1000%);
}
@media (max-width: 639px) {
  nav {
    background: linear-gradient(to bottom, #f7f3f3 50%, transparent 1000%);
  }
}
nav .navbar_column .navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navbar_column .navbar__container .navbar-logo {
  color: #262626;
  font-weight: 600;
  font-size: 2rem;
}
@media (max-width: 639px) {
  nav .navbar_column .navbar__container .navbar-logo {
    font-size: 1.6rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  nav .navbar_column .navbar__container .navbar-logo {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  nav .navbar_column .navbar__container .navbar-logo {
    font-size: 2rem;
  }
}
nav .navbar_column .navbar__container .navbar-logo span {
  color: #f58a07;
}
nav .navbar_column .navbar__container .menu-section ul {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
nav .navbar_column .navbar__container .menu-section ul a {
  transition: all 0.3s ease;
  padding: 1rem 1.5rem;
}
nav .navbar_column .navbar__container .menu-section ul a:hover {
  background-color: #efe7e7;
  box-shadow: 0px 4px 0px 0px #262626;
}
nav .navbar_column .phone-menu-section {
  overflow: hidden;
  transition: max-height ease 0.8s;
}
nav .navbar_column .phone-menu-section ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#home-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
}
#home-page .home-page__gradient {
  background: linear-gradient(to right, #f7f3f3, #f7f3f3 53%, transparent 80%, transparent);
  pointer-events: none;
}
@media (max-width: 639px) {
  #home-page .home-page__gradient {
    display: none;
  }
}
#home-page .home-page__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 639px) {
  #home-page .home-page__container {
    align-items: center;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  #home-page .home-page__container {
    align-items: center;
  }
}
#home-page .home-page__container .home-page__text {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#home-page .home-page__container .home-page__text #text_name {
  font-size: 5rem;
  color: #f58a07;
  opacity: 1;
}
@media (max-width: 639px) {
  #home-page .home-page__container .home-page__text #text_name {
    font-size: 2.5rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  #home-page .home-page__container .home-page__text #text_name {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  #home-page .home-page__container .home-page__text #text_name {
    font-size: 3.5rem;
  }
}
#home-page .home-page__container .home-page__text span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #858585;
  opacity: 0.5;
}
@media (max-width: 639px) {
  #home-page .home-page__container .home-page__text span {
    font-size: 0.8481499475rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  #home-page .home-page__container .home-page__text span {
    font-size: 1.0296540362rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  #home-page .home-page__container .home-page__text span {
    font-size: 1.0296540362rem;
  }
}
#home-page .home-page__container .home-page__text .home-page__buttons {
  display: flex;
  align-items: center;
}
#home-page .home-page__container .home-page__text .home-page__buttons button:nth-child(1) {
  background-color: #6cae75;
  color: #f7f3f3;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#home-page .home-page__container .home-page__text .home-page__buttons button:nth-child(1):hover {
  background-color: #89be90;
}
#home-page .home-page__container .home-page__text .home-page__buttons button:nth-child(2) {
  background-color: #3c91e6;
  color: #f7f3f3;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#home-page .home-page__container .home-page__text .home-page__buttons button:nth-child(2):hover {
  background-color: #6fadec;
}
#home-page .home-page__container .home-page__text .home-page__buttons button a {
  color: #f7f3f3;
}

#about-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efe7e7;
}
@media (max-width: 639px) {
  #about-page {
    height: auto;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  #about-page {
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  #about-page {
    height: auto;
  }
}
#about-page .about-page__left {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#about-page .about-page__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-page .about-page__right .about-page__image {
  background: url("../../assets/photo.jpg") no-repeat center/cover;
  box-shadow: rgba(245, 138, 7, 0.4) 5px 5px, rgba(245, 138, 7, 0.3) 10px 10px, rgba(245, 138, 7, 0.2) 15px 15px, rgba(245, 138, 7, 0.1) 20px 20px, rgba(245, 138, 7, 0.05) 25px 25px;
}
#about-page .about-page__right .about-page__image-border {
  transform: translateX(2rem);
}

#skills-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f3f3;
}
@media (max-width: 639px) {
  #skills-page {
    height: auto;
  }
}
#skills-page .skills-page__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
#skills-page .skills-page__container .skills_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#skills-page .skills-page__container .skills_container .skill_item {
  background: #f7f3f3;
  box-shadow: 8px 8px 22px #dcd8d8, -8px -8px 22px #ffffff;
}
#skills-page .skills-page__container .skills_container .skill_item img {
  width: 3rem;
  aspect-ratio: square;
}
#skills-page .skills-page__container .skills-card {
  border: none;
  border-radius: 1rem;
  background: #f7f3f3;
  box-shadow: 10px 10px 20px #e1dddd, -10px -10px 20px #ffffff;
  text-align: center;
  flex: 1;
}

#projects-page {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #efe7e7;
}
#projects-page .projects-page__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
#projects-page .projects-page__container .projects__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
#projects-page .projects-page__container .projects__container .project-item {
  background-color: #f7f3f3;
}
#projects-page .projects-page__container .projects__container .project-item p {
  font-size: 1rem;
}
#projects-page .projects-page__container .projects__container .project-item .project-item__left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
#projects-page .projects-page__container .projects__container .project-item .project-item__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1rem;
  gap: 1rem;
}
@media (max-width: 1536px) {
  #projects-page .projects-page__container .projects__container .project-item .project-item__buttons {
    margin-bottom: 1rem;
    justify-content: center;
  }
}
#projects-page .projects-page__container .projects__container .project-item .project-item__buttons button {
  border: 3px solid #262626;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}
#projects-page .projects-page__container .projects__container .project-item .project-item__links {
  gap: 1rem;
}
#projects-page .projects-page__container .projects__container .project-item .project-item__links button {
  background-color: transparent;
  border: 2px solid #262626;
  border-radius: 15px;
  color: #262626;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  min-width: 0;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
#projects-page .projects-page__container .projects__container .project-item .project-item__links button:hover {
  background-color: #262626;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#projects-page .projects-page__container .projects__container .project-item .project-item__links button:hover a {
  color: #f7f3f3;
}
#projects-page .projects-page__container .projects__container #more-projects_button {
  background-color: #3c91e6;
  color: #f7f3f3;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#projects-page .projects-page__container .projects__container #more-projects_button:hover {
  background-color: #6fadec;
}
#projects-page .projects-page__container .projects__container #more-projects_button a {
  color: #f7f3f3;
}

#contact-page {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f3f3;
}
#contact-page .contact-page__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#contact-page .contact-page__container .contact-info__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 639px) {
  #contact-page .contact-page__container .contact-info__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
#contact-page .contact-page__container .contact-info__container .contact-info {
  display: flex;
  align-items: center;
}
#contact-page .contact-page__container .contact-info__container .contact-info .contact-info__button {
  background: #f7f3f3;
  box-shadow: 8px 8px 22px #dcd8d8, -8px -8px 22px #ffffff;
}
#contact-page .contact-page__container .contact-info__container .contact-info .contact-info__right {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

footer {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  color: #f7f3f3;
}
footer .footer__container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 1536px) {
  footer .footer__container {
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
footer .footer__container span {
  font-size: 1.25rem;
}
@media (max-width: 639px) {
  footer .footer__container span {
    font-size: 0.75rem;
  }
}
footer .footer__container i {
  color: #f7f3f3;
}/*# sourceMappingURL=styles.css.map */